.productoContainer {
  position: relative;
  border-radius: 8px;
  margin: 0.5rem;
  padding: 0.5rem;
}
.productoContainer img {
  margin-bottom: -4px; /* TODO: If we dont apply this, the image looks a little bit off/split from the rest of the form. Why? */
  width: 100%;
  cursor: pointer;
}
.normalCursor img {
  cursor: unset;
}
.lineInfo {
  background-color: rgba(200, 200, 255, 0.8);
}
.productConfigPorUsuarioButtonContainer {
  padding-top: 0.15rem;
  padding-bottom: 0.75rem;
}
.smallPaddingBottom {
  padding-bottom: 0.5rem;
}
.lastLineInfo {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.lightGrey {
  background-color: rgba(240, 240, 240, 1);
}
.fclContainer {
  text-align: center;
  margin-top: 0.2rem;
  padding-left: 1rem;
}
.lightRightBorder {
  border-right: 1px solid rgba(225, 225, 225, 1);
}
.rowAsClient {
  background-color: rgba(255, 255, 255, 0.8);
  margin-top: 0.5rem;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  border-radius: 4px;
}
.newProductoRemoverButton {
  text-align: center;
  margin-top: 0.5rem;
}

@media (max-width: 1075px) {
  .productoContainer {
    width: 94%;
    margin-left: 0;
    margin-right: 0;
  }
}