.doubleBoxContainer {
  background-color: rgba(178, 201, 235, 0.7);
  border-radius: 15px;
  padding: 15px 0 15px 0;
}
.flatTopRightBorderRadius {
  border-top-right-radius: 0;
}
.doubleBoxPane {
  padding: 0 20px 0 20px;
}
.leftBorder {
  border-left: 1px solid rgba(160, 160, 160, 1);
}
.rightBorder {
  border-right: 1px solid rgba(160, 160, 160, 1);
}