.image {
  position: absolute;
  left: 0;
  animation: floatBubble 25s infinite  normal ease-out;
}

@keyframes floatBubble {
  0% {
    top: 0px;
  }
  50% {
    top: -300px;
  }
  100% {
    top: 0px;
  }
}
@keyframes floatBubbleMobile {
  0% {
    top: 0px;
  }
  50% {
    top: -100px;
  }
  100% {
    top: 0px;
  }
}

@media (max-width: 1075px) {
  .image {
    animation: floatBubbleMobile 12s infinite  normal ease-out;
  }
}