.container {
  background-color: white;
  text-align: center;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding-left: 1rem;
  padding-right: 1rem;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}
.userType {
  text-transform: uppercase;
  background-color: rgba(178, 201, 235, 1);
  padding: 0.5rem 0.75rem 0.5rem 0.75rem;
  font-weight: 700;
  border-radius: 5px;
  margin-left: 1rem;
}
.smallMarginTop {
  margin-top: 1rem;
}
.smallMarginRight {
  margin-right: 0.75rem!important;
}

@media (max-width: 768px) {
  .container {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}