.container {
  text-align: center;
}
.userType {
  text-transform: uppercase;
  background-color: rgba(178, 201, 235, 1);
  padding: 0.5rem 0.75rem 0.5rem 0.75rem;
  font-weight: 700;
  border-radius: 5px;
  margin-left: 1rem;
}
.smallMarginTop {
  margin-top: 1rem;
}

@media (max-width: 1075px) {
  .container {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}