.container {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  padding: 0.5rem 1rem 1rem 1rem;
}
.alert {
  margin-top: 0.5rem;
  margin-bottom: 0.9rem;
}

@media (max-width: 1075px) {
  .container {
    width: 85%;
  }
}