.root {
  margin-top: 1rem;
  padding: 1rem;
}
.smallMarginBottom {
  margin-bottom: 1rem;
}
.box {
  background-color: white;
  border-radius: 8px;
  padding: 0.75rem 1rem 0.75rem 1rem;
}
.credentialsConfigBox {
  padding-top: 0.3rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.credentials {
  font-weight: 700;
}
.configurarCategoriasBox {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.uploadProductsBox {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

@media (max-width: 1075px) {
  .uploadProductsBox {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}