.consultasContainer {
  height: 60vh;
  padding-bottom: 1rem;
  margin-top: 2px;
  overflow-y: scroll;
}
.toolbarActionButton {
  margin-top: 0.75rem;
}
.estasViendoContainer {
  text-align: center;
  margin-bottom: 0.5rem;
}
.estasViendo {
  font-size: 12px;
}