.container {
  padding-top: 1vh;
  text-align: right;
}
.modalContainer {
  display: inline;
}
.moreIcon {
  padding: 5px 5px 5px 5px !important;
  vertical-align: unset !important;
}
.chip {
  margin: 0.3rem 0.6rem 0.3rem 0;
}