.container {
  padding-top: 1vh;
  text-align: right;
}
.modalContainer {
  display: inline;
}
.addChipContainer {
  margin-top: 0.75rem;
  margin-bottom: 0.5rem;
}
.chipContainer {
  margin-bottom: 0.75rem;
}
.moreIcon {
  vertical-align: unset !important;
}
.smallPaddingIcon {
  padding: 5px 5px 5px 5px !important;
}
.chip {
  margin: 0.3rem 0.6rem 0.3rem 0;
}

@media (max-width: 768px) {
  .container {
    text-align: center;
  }
}