.container {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  text-align: center;
  padding: 0.5rem 0.75rem 1rem 0.75rem;
}
.textContainer {
  margin-top: 1rem;
  margin-bottom: 0.75rem;
}

@media (max-width: 1075px) {
  .container {
    width: 85%;
  }
}