.productosGrid {
  height: 82vh;
  flex-grow: 1;
  overflow-y: scroll;
  -ms-overflow-style: none;  /* Hide scrollbar for IE and Edge */
  scrollbar-width: none;  /* Hide scrollbar for Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.productosGrid::-webkit-scrollbar {
  display: none;
}

.productosTools {
  height: 6vh;
  background-color: white;
}