.productosGrid {
  height: 86vh;
  flex-grow: 1;
  overflow-y: scroll;
}

.productosTools {
  height: 6vh;
  margin-bottom: 2px;
}

@media (max-width: 1075px) {
  .productosGrid {
    height: 75vh;
  }
  .productosTools {
    height: 140px;
  }
}