.root {
  text-align: center;
}
.paddingTop {
  padding-top: 2rem;
}
.padSides {
  padding-left: 10vw;
  padding-right: 10vw;
}
.infoText {
  text-align: left;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 0;
}
.highlight {
  color: rgba(185, 10, 10, 0.85);
}
.subtitle {
  font-size: 1.5rem;
  font-style: italic;
}
@media (max-width: 768px) {
  .subtitle {
    display: block;
    font-size: 1rem;
    margin-top: 0.5rem;
  }
  .padSides {
    padding-left: 5vw;
    padding-right: 5vw;
  }
}