.grid {
  height: 100%;
}
.appFooter {
  background-color: rgba(120, 120, 185, 0.8);
  height: 4vh;
}
.spanContainer {
  text-align: center;
  padding-top: 0.9vh;
}
.mainSpan {
  background-color: rgba(250, 250, 250, 0.5);
  padding: 0.2rem 0.7rem 0.2rem 0.7rem;
  border-radius: 8px;
}
@media (max-width: 1075px) {
  .mainSpan {
    background-color: unset;
    font-size: 12px;
  }
  .appFooter {
    height: 7vh;
  }
  .spanContainer {
    padding-top: 0.4vh;
  }
}