/* [START] Fonts declarations */
@font-face {
  font-family: 'Rubik';
  src: local('Rubik'), url(./fonts/Rubik-VariableFont_wght.ttf) format('truetype');
}
@font-face {
  font-family: 'Rubik';
  src: local('Rubik'), url(./fonts/Rubik-Italic-VariableFont_wght.ttf) format('truetype');
  font-style: italic;
}
@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url(./fonts/Montserrat-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url(./fonts/Montserrat-Bold.ttf) format('truetype');
  font-weight: 700;
}
@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url(./fonts/Montserrat-ExtraBold.ttf) format('truetype');
  font-weight: 900;
}
@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url(./fonts/Montserrat-Light.ttf) format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url(./fonts/Montserrat-ExtraLight.ttf) format('truetype');
  font-weight: 100;
}
@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url(./fonts/Montserrat-Italic.ttf) format('truetype');
  font-style: italic;
}
@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url(./fonts/Montserrat-BoldItalic.ttf) format('truetype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url(./fonts/Montserrat-ExtraBoldItalic.ttf) format('truetype');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url(./fonts/Montserrat-LightItalic.ttf) format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url(./fonts/Montserrat-ExtraLightItalic.ttf) format('truetype');
  font-weight: 100;
  font-style: italic;
}
/* [END] Fonts declarations */

body {
  margin: 0;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.rightAligned {
  float: right;
}
.displayInLine {
  display: inline;
}
.displayBlock {
  display: block;
}
.archivadoBackgroundColor {
  background-color: rgba(200, 200, 200, 0.6);
}
.nonArchivadoBackgroundColor {
  background-color: rgba(200, 200, 255, 0.5);
}
.isModifiedBackgroundColor {
  background-color: rgba(245, 228, 76, 0.877);
}
.isMarkedAsDeleteBackgroundColor {
  background-color: rgba(247, 104, 104, 0.904);
}
.textAlignCenter {
  text-align: center;
}
.notiStackContainer {
  font-size: 1.875rem!important;
}
